{% extends 'base.html' %}
{% block content %}

<h2>Dashboard</h2>

<div class="row mt-4">

<div class="col-md-4">
<div class="card p-3 shadow">
<h5>Total Students</h5>
<a href="/add_student" class="btn btn-primary">Add Student</a>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 shadow">
<h5>Companies</h5>
<a href="/add_company" class="btn btn-success">Add Company</a>
</div>
</div>

<div class="col-md-4">
<div class="card p-3 shadow">
<h5>Placement</h5>
<a href="/eligible" class="btn btn-warning">Check Eligible</a>
</div>
</div>

</div>

{% endblock %}